doctype html

html(lang="en-US")

  head
    title Logistics Company
    meta(charset="UTF-8")

  body
      header
        h1 Logistics Company

      main 
        block main

      footer
        block footer